<tr id="personRowID<%= person.id %>">
      <td><%= person.fname %></td>
      <td><%= person.sname %></td>
      <td><%= person.tname %></td>
      <td><%= person.passserie %> <%= person.passnumber %></td>
      <td><%= person.birthday.blank? ? '' : person.birthday.strftime('%d.%m.%Y') %></td>
</tr>