<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work.name %>
</p>

<p>
  <strong>Index:</strong>
  <%= @work.index %>
</p>

<p>
  <strong>Region:</strong>
  <%= @work.region %>
</p>

<p>
  <strong>Area:</strong>
  <%= @work.area %>
</p>

<p>
  <strong>City:</strong>
  <%= @work.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @work.street %>
</p>

<p>
  <strong>House:</strong>
  <%= @work.house %>
</p>

<p>
  <strong>Corp:</strong>
  <%= @work.corp %>
</p>

<p>
  <strong>Str:</strong>
  <%= @work.str %>
</p>

<p>
  <strong>Office:</strong>
  <%= @work.office %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @work.phone %>
</p>

<p>
  <strong>Site:</strong>
  <%= @work.site %>
</p>

<p>
  <strong>Act1:</strong>
  <%= @work.act1 %>
</p>

<p>
  <strong>Act2:</strong>
  <%= @work.act2 %>
</p>

<p>
  <strong>Act3:</strong>
  <%= @work.act3 %>
</p>

<p>
  <strong>Act4:</strong>
  <%= @work.act4 %>
</p>

<p>
  <strong>Act5:</strong>
  <%= @work.act5 %>
</p>

<p>
  <strong>Act6:</strong>
  <%= @work.act6 %>
</p>

<p>
  <strong>Act7:</strong>
  <%= @work.act7 %>
</p>

<p>
  <strong>Act8:</strong>
  <%= @work.act8 %>
</p>

<p>
  <strong>Act9:</strong>
  <%= @work.act9 %>
</p>

<p>
  <strong>Act10:</strong>
  <%= @work.act10 %>
</p>

<p>
  <strong>Act11:</strong>
  <%= @work.act11 %>
</p>

<p>
  <strong>Act12:</strong>
  <%= @work.act12 %>
</p>

<p>
  <strong>Act13:</strong>
  <%= @work.act13 %>
</p>

<p>
  <strong>Act14:</strong>
  <%= @work.act14 %>
</p>

<p>
  <strong>Act15:</strong>
  <%= @work.act15 %>
</p>

<p>
  <strong>Act16:</strong>
  <%= @work.act16 %>
</p>

<p>
  <strong>Act17:</strong>
  <%= @work.act17 %>
</p>

<p>
  <strong>Act18:</strong>
  <%= @work.act18 %>
</p>

<p>
  <strong>Act19:</strong>
  <%= @work.act19 %>
</p>

<p>
  <strong>Act20:</strong>
  <%= @work.act20 %>
</p>

<p>
  <strong>Actothertext:</strong>
  <%= @work.actOtherText %>
</p>

<p>
  <strong>Cnt1:</strong>
  <%= @work.cnt1 %>
</p>

<p>
  <strong>Cnt2:</strong>
  <%= @work.cnt2 %>
</p>

<p>
  <strong>Cnt3:</strong>
  <%= @work.cnt3 %>
</p>

<p>
  <strong>Cnt4:</strong>
  <%= @work.cnt4 %>
</p>

<p>
  <strong>Cnt5:</strong>
  <%= @work.cnt5 %>
</p>

<p>
  <strong>Cnt6:</strong>
  <%= @work.cnt6 %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
