<p id="notice"><%= notice %></p>

<h1>Виды страхования</h1>

<table class="table">
  <thead>
    <tr>
      <th>Наименование</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurances.each do |insurance| %>
      <tr>
        <td><%= insurance.name %></td>
        <td><%= link_to 'Открыть', insurance %></td>
        <td><%= link_to 'Редактировать', edit_insurance_path(insurance) %></td>
        <td><%= link_to 'Удалить', insurance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый вид страхования', new_insurance_path %>
