<h2><%= f.name %></h2>
<blockquote><%= f.note %></blockquote>
<h4><strong>Состав заемщиков</strong> <%= f.borrower %></h4>
<h4><strong>Состав залогодателей</strong> <%= f.mortgagor %></h4>
<h4><strong>Сумма кредита/займа</strong> <%= f.sAmount %></h4>
<h4><strong>Коэффициент К/З (кредит/залог)</strong> <%= f.cpCoeff %></h4>
<h4><strong>Процентная ставка</strong> <%= f.percent %></h4>
<h4><strong>Порядок погашения кредита (займа)</strong> <%= f.rule %></h4>