<%= form_for(@option) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Паспорт опции</h2>
  <div class="form-group row">
    <label class="col-md-2 form-control-label">Название опции</label>
    <div class="col-md-5"><%= f.text_field :name,  :class=>"form-control" %></div>
    <label class="checkbox-inline">
          <%= f.check_box :isArchive, :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }  %>Архивный
        </label>
  </div>
  <div class="form-group row">
    <label class="col-md-2 form-control-label">Краткое описание</label>
          <div class="col-md-5"><%= f.text_area :note,  :class=>"form-control" %></div>
  </div>
  <div class="form-group row">
    <label class="col-md-1 form-control-label">Утвержден</label>
          <div class="col-md-3"><%= f.text_field :NPA,  :class=>"form-control" %></div>
    <label class="col-md-1 form-control-label" style="width:130px">Действует с:</label>
          <div class="col-md-2">
          <!-- Извращения с выбором даты, однако -->                
             <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                              <%= f.text_field :startdate, :class => "form-control datepicker", :placeholder => "DD.MM.YYYY", :value =>(@option.startdate.blank? ? '' : @option.startdate.strftime('%d.%m.%Y')) %> 
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <!--это для нажатия по иконке -->
             <script type="text/javascript">
                 $(function () {
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                     $('#datetimepicker1').datepicker();
                 });
              </script>
              <!--это для нажатия по полю ввода -->
              <script type="text/javascript">
                 $(document).ready(function(){
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                     $('.datepicker').datepicker();
                 });
              </script>
<!-- Извращения с выбором даты, однако -->   
          </div>
  </div>
  <form></form>
  <table class="table-responsive table passport">
    <thead>
      <tr>
       <th>
         <div><b>Параметр</b></div>
       </th>
       <th>
         <div><b>Описание</b></div>
       </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div>Назначение</div></td>
        <td><div><%= f.text_area :target, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Совместимость с ипотечными продуктами и опциями</div></td>
        <td>
          <div id="prodDiv">
            <%= render(:partial => 'productList',:locals => {:o => @option}) %>
          </div>
          <form action="/options/<%= @option.id %>/addProduct" data-remote="true" method="get">
            <div class="col-md-8">
              <%= collection_select(:product, :id,  @active_products, :id,:name, {},{:class => 'form-control productSelect'}) %>
            </div>  
            <div class="col-md-2">
              <%= f.submit "Добавить", :class => "btn btn-primary"%>
            </div>
          </form>
        </td>
      </tr>  
      <tr>
        <td><div>Состав заемщиков</div></td>
        <td><div><%= f.text_area :borrower, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Состав залогодателей</div></td>
        <td><div><%= f.text_area :mortgagor, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Сумма кредита/займа</div></td>
        <td><div><%= f.text_area :sAmount, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Коэффициент К/З (кредит/залог)</div></td>
        <td><div><%= f.text_area :cpCoeff, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Процентная ставка</div></td>
        <td><div><%= f.text_area :percent, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Порядок погашения кредита (займа)</div></td>
        <td><div><%= f.text_area :rule, :class=>"form-control" %></div></td>
      </tr>  
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-primary"%>
  </div>
<% end %>
