<%= form_for @process do |f| %>
	<script type="text/javascript" language="javascript">
		$(document).ready(function(){
			<% if @valid %>
				$('#shortProductInfo').addClass('panel-default').removeClass('panel-danger');
				$('#alertBox').hide();
				$('#normBox').fadeIn();
				$('#submitButton').removeClass('disabled')
			<% else %>
				$('#shortProductInfo').addClass('panel-danger').removeClass('panel-default');
				$('#normBox').hide();
				$('#alertBox').fadeIn();
				$('#submitButton').addClass('disabled')
			<% end %>	
		});
	</script>
	<%= f.hidden_field(:id, :id => "process_id")%>
	<table style="width:100%">
		<tr><td style="width:70%">
				<h1>Параметры кредита и кредитное досье № <%= @process.id.to_s %></h1>
			</td>
			<td align="right">
				<%= link_to "Заявка №"+@process.request.id.to_s, @process.request, class: "btn btn-primary", :data => {:confirm => 'Вы действительно хотите перейти к карточке заявки?'}, :method => 'get' %> 
			</td>	
		</tr>
	</table>		
	<table style="width:100%">
		<tr>
			<td style="width:45%" valign="top">
				<table style="width:100%" borer=1>
					<tr>
						<td>
							<div class="form-group row">
								<div class="col-md-3"><label>Процент</label></div>
								<div class="col-md-4"><%= f.number_field :percent,  :class=>"form-control", :step => 0.01%></div>
							</div>
							<div class="form-group row">
								<div class="col-md-3"><label>Сумма кредита</label></div>
								<div class="col-md-3"><%= @process.request.amount %></div>
								<div class="col-md-3"><label>Срок кредита</label></div>
								<div class="col-md-3"><%= @process.request.months %> мес</div>
							</div>
							<hr style="border-color:#8bc540">
							<div class="form-group row" id="selectedInsurance">
								<%= render(:partial => 'selectedInsurances') %>
							</div>
							<div class="form-group row" id="selectInsBlock">
								<div class="col-md-2"><label>Страхование</label></div>
								<div class="col-md-8">
								<%= collection_select(:insurance, :ins_id, Insurance.all, :id, :name, {}, {:class => "form-control", :id => "insuranceList"}) %>
							</div>
							<div class="col-md-1">
								<button type="button" class="btn btn-default" onclick="addIns()">
  									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<hr style="border-color:#8bc540">
							<table style="width:100%">
								<tr>
									<td>
										<h3>Документы по кредиту</h3>
									</td>
									<td align="center">
										<button type="button" class="btn btn-info" onclick="attachFile()">Прикрепить документ
  											<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
										</button>
									</td>
								</tr>
							</table>
							<div id="attaches">
								<%= render(:partial => 'attachedDocs') %>
							</div>
							<div class="actions">
    							<%= f.submit "Сохранить досье", class: "btn btn-default", id: "submitButton" %>
  							</div>
  						</td>
					</tr>
				</table>				
			</td>
			<td valign="top" >
				<div class="alert alert-warning" role="alert" id="alertBox">
  					<p>Для выдачи кредита недостаточно оформленных страховых продуктов. Необходимо дополнительное страхование.</p>
				</div>
				<div class="alert alert-success" role="alert" id="normBox">
  					<p>Страхование по заявке удовляетворяет требованиям продукта.</p>
				</div>
				<%= render(:partial => 'process/shortProductInfo', :locals => {:p => @process.product}) %>
				
					<h4>Выбраны опции:</h4>
					<ul>
						<% @process.options.each do |option| %>
							<li><%= option.name %></li>
						<% end %>	
					</ul>	
			</td>
		</tr>	

	</table>

<% end %>
<div id="fileModal" class="modal fade" role="dialog">
  		<div class="modal-dialog">

    <!-- Modal content-->
    		<%= form_tag("/activity/"+@process.id.to_s+"/addDocument", method: 'post', remote: true, id: 'frmAddDocument',:html => {:multipart => true }) do %>
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">&times;</button>
        			<h4 class="modal-title">Добавление документа к кредитному досье</h4>
      			</div>
      			<div class="modal-body">
        				<div class="form-group row">
        					<div class="col-md-2"><label>Название</label></div>
        					<div class="col-md-10"><%= text_field(:document, :name, {:class => "form-control"}) %></div>
        				</div>
        				<div class="form-group row">
        					<div class="col-md-2"><label>Примечание</label></div>
        					<div class="col-md-10"><%= text_area(:document, :note, {:class => "form-control"}) %></div>
        				</div>
        				<div class="form-group row">
        					<div class="col-md-2"><label>Вожение</label></div>
        					<div class="col-md-10"><%= file_field(:document, :file, {:class => "form-control"}) %></div>
        				</div>
      			</div>
      			<div class="modal-footer">
      				<%= submit_tag "Добавить", data: { disable_with: "Please wait.." }, class: "btn btn-success" %>
        			<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      			</div>
    		</div>
   			<% end %>	
		</div>
	</div>
