<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <%= render(:partial => 'part01',:locals => {:f => f}) %>
  <%= render(:partial => 'part02',:locals => {:f => f}) %>
  <%= render(:partial => 'part03',:locals => {:f => f}) %>
  <%= render(:partial => 'part04',:locals => {:f => f}) %>
  

  <div class="field">
    <%= f.label :expenseAlimony %><br>
    <%= f.check_box :expenseAlimony %>
  </div>
  <div class="field">
    <%= f.label :expenseAlimonyAmount %><br>
    <%= f.check_box :expenseAlimonyAmount %>
  </div>
  <div class="field">
    <%= f.label :expenseCredit %><br>
    <%= f.check_box :expenseCredit %>
  </div>
  <div class="field">
    <%= f.label :estFlat %><br>
    <%= f.check_box :estFlat %>
  </div>
  <div class="field">
    <%= f.label :estFlatPart %><br>
    <%= f.number_field :estFlatPart %>
  </div>
  <div class="field">
    <%= f.label :estRoom %><br>
    <%= f.check_box :estRoom %>
  </div>
  <div class="field">
    <%= f.label :estRoomPart %><br>
    <%= f.number_field :estRoomPart %>
  </div>
  <div class="field">
    <%= f.label :estHouse %><br>
    <%= f.check_box :estHouse %>
  </div>
  <div class="field">
    <%= f.label :estHousePart %><br>
    <%= f.number_field :estHousePart %>
  </div>
  <div class="field">
    <%= f.label :estOther %><br>
    <%= f.text_field :estOther %>
  </div>
  <div class="field">
    <%= f.label :estOtherTest %><br>
    <%= f.text_field :estOtherTest %>
  </div>
  <div class="field">
    <%= f.label :estOtherPart %><br>
    <%= f.number_field :estOtherPart %>
  </div>
  <div class="field">
    <%= f.label :estRegion %><br>
    <%= f.text_field :estRegion %>
  </div>
  <div class="field">
    <%= f.label :estCity %><br>
    <%= f.text_field :estCity %>
  </div>
  <div class="field">
    <%= f.label :estPrice %><br>
    <%= f.number_field :estPrice %>
  </div>
  <div class="field">
    <%= f.label :carMake %><br>
    <%= f.text_field :carMake %>
  </div>
  <div class="field">
    <%= f.label :carModel %><br>
    <%= f.text_field :carModel %>
  </div>
  <div class="field">
    <%= f.label :carYear %><br>
    <%= f.number_field :carYear %>
  </div>
  <div class="field">
    <%= f.label :carPledge %><br>
    <%= f.check_box :carPledge %>
  </div>
  <div class="field">
    <%= f.label :carPrice %><br>
    <%= f.number_field :carPrice %>
  </div>
  <div class="field">
    <%= f.label :conviction %><br>
    <%= f.check_box :conviction %>
  </div>
  <div class="field">
    <%= f.label :founder %><br>
    <%= f.check_box :founder %>
  </div>
  <div class="field">
    <%= f.label :taxArrears %><br>
    <%= f.check_box :taxArrears %>
  </div>
  <div class="field">
    <%= f.label :otherCreditRequests %><br>
    <%= f.check_box :otherCreditRequests %>
  </div>
  <div class="field">
    <%= f.label :bunkrupt %><br>
    <%= f.check_box :bunkrupt %>
  </div>
  <div class="field">
    <%= f.label :waitForChild %><br>
    <%= f.check_box :waitForChild %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
