<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <%= render(:partial => 'part01',:locals => {:f => f}) %>
  <%= render(:partial => 'part02',:locals => {:f => f}) %>
  <%= render(:partial => 'part03',:locals => {:f => f}) %>
  <%= render(:partial => 'part04',:locals => {:f => f}) %>
  <%= render(:partial => 'part05',:locals => {:f => f}) %>
  <%= render(:partial => 'part06',:locals => {:f => f}) %>
  <%= render(:partial => 'part07',:locals => {:f => f}) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
