<%= fields_for :new_person, @request.person do |fp| %>
<h3 id="shortFormCaption">3. Личные данные Заявителя</h3>
<table class="table">
    <tr>
      <td style="width:300px;vertical-align:top">Фамилия</td>
      <td colspan=2><%= fp.text_field(:fname, class: "form-control") %></td>
    </tr>
    <tr>
      <td style="vertical-align:top">Имя</td>
      <td colspan=2><%= fp.text_field(:sname, class: "form-control") %></td>
    </tr>
    <tr>
      <td style="vertical-align:top">Отчество</td>
      <td colspan=2><%= fp.text_field(:tname, class: "form-control") %></td>
    </tr>
    <tr>
      <td style="vertical-align:top">Дата рождения <small>дд.мм.гггг</small></td>
      <td colspan="2"> 
      	<div class="col-md-3">
          <!-- Извращения с выбором даты, однако -->                
             <div class="form-group">
                <div class='input-group date datepicker' id='datetimepicker3'>
                              <%= fp.text_field(:birthday, :class => "form-control", :placeholder => "DD.MM.YYYY", ) %> 
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
            <!--это для нажатия по иконке -->
             <script type="text/javascript">
                 $(function () {
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                  $('#datetimepicker3').datepicker();
                 });
              </script>
              <!--это для нажатия по полю ввода -->
              <script type="text/javascript">
                 $(document).ready(function(){
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                  $('.datepicker').datepicker({
                  });
                 });
              </script>
		<!-- Извращения с выбором даты, однако -->   
          </div></td>
    </tr>
    <tr>
      <td style="vertical-align:top">Пол</td>
      <td><%= fp.check_box(:sex, class: "form-control", :data => { :toggle => 'toggle',:on=>"Мужской",:off=>"Женский" }) %></td>
    </tr>
    <tr>
    	<td rowspan="3">Предыдущие Ф.И.О. <small>(если менялись)</small></td>
    	<td colspan="2"><%= fp.text_field(:fprevname, class: "form-control") %></td>
    <tr>
    	<td colspan="2"><%= fp.text_field(:sprevname, class: "form-control") %></td>
	</tr>
	<tr>
	  	<td colspan="2"><%= fp.text_field(:tprevname, class: "form-control") %></td>
    </tr>			
	<tr>
      <td style="vertical-align:top" rowspan=3>Паспортные данные</td>
      <td colspan="2">
      	<div class="form-group row">
          <label class="col-md-1 form-control-label">Серия</label>
          <div class="col-md-2  ">
            <%= fp.text_field(:passserie, class: "form-control")  %>
          </div>
          <label class="col-md-1 form-control-label">Номер</label>
          <div class="col-md-2  ">
            <%= fp.text_field(:passnumber, class: "form-control")  %>
          </div>
          <label class="col-md-2 form-control-label">Дата выдачи <small>дд.мм.ггг.</small></label>
          <div class="col-md-3">
          <!-- Извращения с выбором даты, однако -->                
             <div class="form-group">
                <div class='input-group date datepicker' id='datetimepicker4'>
                              <%= fp.text_field(:tname, :class => "form-control", :placeholder => "DD.MM.YYYY", ) %> 
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
            <!--это для нажатия по иконке -->
             <script type="text/javascript">
                 $(function () {
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                  $('#datetimepicker4').datepicker();
                 });
              </script>
              <!--это для нажатия по полю ввода -->
              <script type="text/javascript">
                 $(document).ready(function(){
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                  $('.datepicker').datepicker({
                  });
                 });
              </script>
		<!-- Извращения с выбором даты, однако -->   
          </div>

        </div>  
      </td>
    </tr> 
    <tr>
    	<td style="vertical-align:top" colspan="2">
    	  <label class="col-md-2 form-control-label">Кем выдан</label>
          <div class="col-md-10  ">
            <%= fp.text_area(:passsource, class: "form-control")  %>
          </div>
    	</td>
    </tr> 
    <tr>
    	<td style="vertical-align:top" colspan="2">
    	  <label class="form-control-label col-md-3">Код подразделения</label>
          <div class="col-md-2  ">
            <%= fp.text_field(:passdivision, class: "form-control")  %>
          </div>
    	</td>
    </tr> 
    <tr>
      <td rowspan="2" style="vertical-align:top">
        Страховой номер индивидуального лицевого счета (СНИЛС)
      </td>
      <td>
        <%= fp.text_field(:snils, class: "form-control col-md-12")  %>
      </td>
      <td rowspan="3" style="width:250px">
        <p><small><small>Заполнение данного поля не требуется в случае, если Заявитель относится к одной из категорий граждан, пенсионное обеспечение которых в соответствии с законодательством РФ осуществляется не Пенсионным фондом РФ, а иным министерством или ведомством.</small></small></p>
      </td>
    </tr>
    <tr>  
      <td>  
        <label class="checkbox-inline"><%= fp.check_box(:extpassexists, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Есть действующий загранпаспорт</label>
      </td>            
    </tr>  
    <tr>
      <td rowspan="6" style="vertical-align:top">Адрес регистрации</td>
      <td>
          <table><tr><td style="width:60px">
          <label class="form-control-label" >Индекс</label></td><td style="padding-right:15px"><%= fp.text_field(:regaddrindex, class: "form-control", style: "width:100px")  %></td><td  style="width:200px">
          <label class="form-control-label" >Область/республика/край</label></td><td><%= fp.text_field(:regaddrregion, class: "form-control row", style:"width:250px")  %></td></tr></table>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top" colspan="2">
        <table style="width:100%"><tr><td style="width:60px">
          <label class="form-control-label">Район</label></td><td>
          <%= fp.text_field(:regaddrarea, class: "form-control")  %>
        </td></tr></table>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top" colspan="2">
        <table style="width:100%"><tr><td style="width:130px">
          <label class="form-control-label">Город/поселок</label></td><td>
          <%= fp.text_field(:regaddrcity, class: "form-control")  %>
        </td></tr></table>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <table style="width:100%"><tr><td style="width:60px">
          <label class="form-control-label">Улица</label></td><td>
          <%= fp.text_field(:regaddrstreet, class: "form-control")  %>
        </td></tr></table>
      </td>
      <td style="vertical-align:top">
        <table style="width:100%"><tr><td style="width:50px">
          <label class="form-control-label">Дом</label></td><td>
          <%= fp.number_field(:regaddrhouse, class: "form-control")  %>
        </td></tr></table>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <table style="width:70%"><tr><td style="width:60px"><label class="form-control-label">Корпус</label></td><td style="padding-right:15px">
          <%= fp.text_field(:regaddrhousekorp, class: "form-control")  %>
        </td>
        <td style="width:75px"><label class="form-control-label">Строение</label></td><td  style="padding-right:15px">
          <%= fp.text_field(:regaddrhousestr, class: "form-control")  %>
        </td>
        <td style="width:70px"><label class="form-control-label">Квартира</label></td><td style="padding-right:15px">
          <%= fp.number_field(:regaddrhouseflat, class: "form-control")  %>
        </td></tr></table>
    </tr>
    <tr><td>
      <table>
        <tr>
          <td style="width:120px"><label class="form-control-label">Вид регистрации</label></td>
          <td style="padding-right:15px"><%= fp.check_box(:registration_type, class: "form-control", :data => { :toggle => 'toggle',:on=>"Постоянная",:off=>"Временная" }, :checked => true) %></td>
          <td id="srok1">
             <label class="form-control-label col-md-4">срок до <small>(дд.ммм.гггг)</small>: </label> <!-- Извращения с выбором даты, однако -->                
             <div class="form-group col-md-8">
                <div class='input-group date datepicker' id='datetimepicker5'>
                              <%= fp.text_field(:addrtempregdate, :class => "form-control", :placeholder => "DD.MM.YYYY", ) %> 
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
            <!--это для нажатия по иконке -->
             <script type="text/javascript">
                 $(function () {
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                  $('#datetimepicker5').datepicker();
                 });
              </script>
              <!--это для нажатия по полю ввода -->
              <script type="text/javascript">
                 $(document).ready(function(){
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                  $('.datepicker').datepicker({
                  });
                 });
              </script>
    <!-- Извращения с выбором даты, однако -->   
          </div>      
          </td>
        </tr>
      </table>
      </td>
    </tr>


    <tr class="extended">
      <td rowspan="6" style="vertical-align:top" id="liveAddressMainCell">Адрес проживания</td>
      <td>  
        <label class="checkbox-inline"><%= fp.check_box(:sameliveaddress, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Совпадает с адресом регистрации, если нет, укажите адрес:</label>
      </td>   
    </tr>
    <tr id="liveAddress1"  class="extended">  
      <td>
          <table><tr><td style="width:60px">
          <label class="form-control-label" >Индекс</label></td><td style="padding-right:15px"><%= fp.text_field(:liveaddrindex, class: "form-control", style: "width:100px")  %></td><td  style="width:200px">
          <label class="form-control-label" >Область/республика/край</label></td><td><%= fp.text_field(:liveaddrregion, class: "form-control row", style:"width:250px")  %></td></tr></table>
      </td>
    </tr>  
    <tr id="liveAddress2"  class="extended">
      <td style="vertical-align:top" colspan="2">
        <table style="width:100%"><tr><td style="width:60px">
          <label class="form-control-label">Район</label></td><td>
          <%= fp.text_field(:liveaddrarea, class: "form-control")  %>
        </td></tr></table>
      </td>
    </tr>
    <tr  id="liveAddress3"  class="extended">
      <td style="vertical-align:top" colspan="2">
        <table style="width:100%"><tr><td style="width:130px">
          <label class="form-control-label">Город/поселок</label></td><td>
          <%= fp.text_field(:liveaddrcity, class: "form-control")  %>
        </td></tr></table>
      </td>
    </tr>
    <tr  id="liveAddress4"  class="extended">
      <td style="vertical-align:top">
        <table style="width:100%"><tr><td style="width:60px">
          <label class="form-control-label">Улица</label></td><td>
          <%= fp.text_field(:liveaddrstreet, class: "form-control")  %>
        </td></tr></table>
      </td>
      <td style="vertical-align:top">
        <table style="width:100%"><tr><td style="width:50px">
          <label class="form-control-label">Дом</label></td><td>
          <%= fp.number_field(:liveaddrhouse, class: "form-control")  %>
        </td></tr></table>
      </td>
    </tr>
    <tr  id="liveAddress5"  class="extended">
      <td style="vertical-align:top">
        <table style="width:70%"><tr><td style="width:60px"><label class="form-control-label">Корпус</label></td><td style="padding-right:15px">
          <%= fp.text_field(:liveaddrhousekorp, class: "form-control")  %>
        </td>
        <td style="width:75px"><label class="form-control-label">Строение</label></td><td  style="padding-right:15px">
          <%= fp.text_field(:liveaddrhousestr, class: "form-control")  %>
        </td>
        <td style="width:70px"><label class="form-control-label">Квартира</label></td><td style="padding-right:15px">
          <%= fp.number_field(:liveaddrhouseflat, class: "form-control")  %>
        </td></tr></table>
    </tr>
    <tr  class="extended">
      <td rowspan="2" style="vertical-align:top">Основание проживания</td>
      <td colspan="2">
        <label class="checkbox-inline"><%= fp.check_box(:livebaseowner, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Собственность</label>
        <label class="checkbox-inline"><%= fp.check_box(:livebaserelative, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Жилье родственников</label>
        <label class="checkbox-inline"><%= fp.check_box(:livebasesocial, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Социальный наем</label>
        <label class="checkbox-inline"><%= fp.check_box(:livebaserent, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Аренда</label>
      </td>
    </tr>   
    <tr  class="extended">
      <td colspan=2>
        <table style="width:100%"><tr><td style="width:60px">
          <label class="form-control-label">Иное</label></td><td>
          <%= fp.text_field(:livebaseother, class: "form-control")  %>
        </td></tr></table>
      </td>
    </tr>
    <tr  class="extended"> 
      <td rowspan="5" style="vertical-align:top">Контакты</td>    
      <td>
        <table style="width:300px"><tr><td style="width:150px">
          <label class="form-control-label">Мобильный телефон <small>+7XXXXXXXXXX</small></label></td><td>
          <%= fp.text_field(:phonemobile, class: "form-control")  %>
        </td></tr></table>
      </td>
    </tr>
    <tr  class="extended">
      <td>
        <table style="width:300px"><tr><td style="width:150px">
          <label class="form-control-label">Домашний телефон <small>+7XXXXXXXXXX</small></label></td><td>
          <%= fp.text_field(:phonemobile, class: "form-control")  %>
        </td></tr></table>
      </td>
    </tr>
    <tr  class="extended">
      <td>
        <table style="width:300px"><tr><td style="width:150px">
          <label class="form-control-label">Контактный телефон <small>+7XXXXXXXXXX</small></label></td><td>
          <%= fp.text_field(:phonemobile, class: "form-control")  %>
        </td></tr></table>
      </td>
    </tr>
    <tr class="extended">
      <td>
        <table style="width:300px"><tr><td style="width:50px">
          <label class="form-control-label">E-mail</label></td><td>
          <%= fp.text_field(:email, class: "form-control")  %>
        </td></tr></table>
      </td>
    </tr>
   <tr class="extended">
   </tr>
   <tr class="extended">
    <td colspan="3"><i>Раздел не заполняется, если Заемщик – участник накопительно-ипотечной системы жилищного обеспечения военнослужащих</i><hr style="border-color:#8bc540"></td>
   </tr>
  <tr class="extended">
    <td style="vertical-align:top">Семейное положение</td>
    <td colspan="2">
        <label class="checkbox-inline"><%= fp.check_box(:married, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Женат/замужем</label>
        <label class="checkbox-inline"><%= fp.check_box(:simplemarried, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Гражданский брак</label>
        <label class="checkbox-inline"><%= fp.check_box(:single, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Холост/не замужем</label>
        <label class="checkbox-inline"><%= fp.check_box(:divorced, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>В разводе</label>
        <label class="checkbox-inline"><%= fp.check_box(:widower, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Вдовец/вдова</label>
      </td>
  </tr> 
  <tr class="extended">
    <td style="vertical-align:top">Наличие брачного договора</td>
    <td colspan="2">  
      <table style="width:100%"><tr><td>
        <%= fp.check_box(:marriagecontract, class: "form-control", :data => { :toggle => 'toggle',:on=>"Есть",:off=>"Нет" }) %>
        </td>
        <td align="right">
          <label class="form-control-label">Количество лиц на иждивении (включая несовершеннолетних детей)</label></td><td align="right">
          <%= fp.number_field(:childcount, class: "form-control", style: "width:60px")  %>
        </td></tr></table>
    </td>  
  </tr>  
  <tr class="extended">
    <td style="vertical-align:top">Образование</td>
    <td colspan=2>
    <table style="width:100%">
      <tr>
        <td style="width:300px">
          <table>
            <tr><td><label class="checkbox-inline"><%= fp.check_box(:ed1, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Неоконченное среднее</label></td></tr>
            <tr><td><label class="checkbox-inline"><%= fp.check_box(:ed2, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Среднее</label></td></tr>
            <tr><td><label class="checkbox-inline"><%= fp.check_box(:ed3, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Среднее специальное</label></td></tr>
            <tr><td><label class="checkbox-inline"><%= fp.check_box(:ed4, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Неоконченное высшее</label></td></tr>
            <tr><td><label class="checkbox-inline"><%= fp.check_box(:ed5, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Высшее</label></td></tr>
            <tr><td><label class="checkbox-inline"><%= fp.check_box(:ed6, class: "form-control", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }) %>Несколько высших/ученая степень</label></td></tr>
          </table>
        </td>
        <td valign="top"><table style="width:100%">
              <tr><td rowspan="3" style="vertical-align:top" align="right"><label class="form-control-label">Годы рождения несовершеннолетних детей</label></td>
                <td align="right">
                  <%= fp.number_field(:childyear1, class: "form-control", style: "width:110px")  %>
                </td>
              </tr>  
              <tr><td align="right"><%= fp.number_field(:childyear2, class: "form-control", style: "width:110px")  %></td></tr>
              <tr><td align="right"><%= fp.number_field(:childyear3, class: "form-control", style: "width:110px")  %></td></tr>
            </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>

</table>        
<% end %>