<p id="notice"><%= notice %></p>

<p>
  <strong>Isborrower:</strong>
  <%= @request.isborrower %>
</p>

<p>
  <strong>Iscoborrower:</strong>
  <%= @request.iscoborrower %>
</p>

<p>
  <strong>Coborroweerrelation:</strong>
  <%= @request.coborroweerRelation %>
</p>

<p>
  <strong>Ismortgagor:</strong>
  <%= @request.ismortgagor %>
</p>

<p>
  <strong>Bname:</strong>
  <%= @request.bName %>
</p>

<p>
  <strong>Bsname:</strong>
  <%= @request.bSName %>
</p>

<p>
  <strong>Blname:</strong>
  <%= @request.bLName %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @request.amount %>
</p>

<p>
  <strong>Months:</strong>
  <%= @request.months %>
</p>

<p>
  <strong>Firstamount:</strong>
  <%= @request.firstAmount %>
</p>

<p>
  <strong>Source accumulation:</strong>
  <%= @request.source_accumulation %>
</p>

<p>
  <strong>Source sell:</strong>
  <%= @request.source_sell %>
</p>

<p>
  <strong>Source help:</strong>
  <%= @request.source_help %>
</p>

<p>
  <strong>Source othercredit:</strong>
  <%= @request.source_otherCredit %>
</p>

<p>
  <strong>Source other:</strong>
  <%= @request.source_other %>
</p>



<p>
  <strong>Estate deposit new:</strong>
  <%= @request.estate_deposit_new %>
</p>

<p>
  <strong>Estate deposit old:</strong>
  <%= @request.estate_deposit_old %>
</p>

<p>
  <strong>Estate deposit amount:</strong>
  <%= @request.estate_deposit_amount %>
</p>

<p>
  <strong>Region:</strong>
  <%= @request.region %>
</p>

<p>
  <strong>Military:</strong>
  <%= @request.military %>
</p>

<p>
  <strong>Mat cap:</strong>
  <%= @request.mat_cap %>
</p>

<p>
  <strong>Many children:</strong>
  <%= @request.many_children %>
</p>

<p>
  <strong>Russian family:</strong>
  <%= @request.russian_family %>
</p>

<p>
  <strong>Aizhk estate:</strong>
  <%= @request.aizhk_estate %>
</p>

<p>
  <strong>Apartament:</strong>
  <%= @request.apartament %>
</p>

<p>
  <strong>Salary cred form:</strong>
  <%= @request.salary_cred_form %>
</p>

<p>
  <strong>Floatrate:</strong>
  <%= @request.floatRate %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @request.insurance %>
</p>

<p>
  <strong>Seniorityyears:</strong>
  <%= @request.seniorityyears %>
</p>

<p>
  <strong>Senioritymonths:</strong>
  <%= @request.senioritymonths %>
</p>

<p>
  <strong>Emplfixedrecr:</strong>
  <%= @request.emplFixedRecr %>
</p>

<p>
  <strong>Emplfloatrecr:</strong>
  <%= @request.emplFloatRecr %>
</p>

<p>
  <strong>Emplip:</strong>
  <%= @request.emplIP %>
</p>

<p>
  <strong>Emplceo:</strong>
  <%= @request.emplCEO %>
</p>

<p>
  <strong>Emplpensioner:</strong>
  <%= @request.emplPensioner %>
</p>

<p>
  <strong>Emplnone:</strong>
  <%= @request.emplNone %>
</p>

<p>
  <strong>Emplother:</strong>
  <%= @request.emplOther %>
</p>

<p>
  <strong>Emplothertext:</strong>
  <%= @request.emplOtherText %>
</p>

<p>
  <strong>Mainworkyears:</strong>
  <%= @request.mainWorkYears %>
</p>

<p>
  <strong>Mainworkmonths:</strong>
  <%= @request.mainWorkMonths %>
</p>

<p>
  <strong>Mainworkposition:</strong>
  <%= @request.mainWorkPosition %>
</p>

<p>
  <strong>Mainworkposcategoryowner:</strong>
  <%= @request.mainWorkPosCategoryOwner %>
</p>

<p>
  <strong>Mainworkposcategorygeneral:</strong>
  <%= @request.mainWorkPosCategoryGeneral %>
</p>

<p>
  <strong>Mainworkposcategorydepmanager:</strong>
  <%= @request.mainWorkPosCategoryDepManager %>
</p>

<p>
  <strong>Mainworkposcategoryother:</strong>
  <%= @request.mainWorkPosCategoryOther %>
</p>

<p>
  <strong>Mainworkamount:</strong>
  <%= @request.mainWorkAmount %>
</p>

<p>
  <strong>Sworkyears:</strong>
  <%= @request.sWorkYears %>
</p>

<p>
  <strong>Sworkmonths:</strong>
  <%= @request.sWorkMonths %>
</p>

<p>
  <strong>Sworkposition:</strong>
  <%= @request.sWorkPosition %>
</p>

<p>
  <strong>Sworkposcategoryowner:</strong>
  <%= @request.sWorkPosCategoryOwner %>
</p>

<p>
  <strong>Sworkposcategorygeneral:</strong>
  <%= @request.sWorkPosCategoryGeneral %>
</p>

<p>
  <strong>Sworkposcategorydepmanager:</strong>
  <%= @request.sWorkPosCategoryDepManager %>
</p>

<p>
  <strong>Sworkposcategoryother:</strong>
  <%= @request.sWorkPosCategoryOther %>
</p>

<p>
  <strong>Sworkamount:</strong>
  <%= @request.sWorkAmount %>
</p>

<p>
  <strong>Otherincomepension:</strong>
  <%= @request.otherIncomePension %>
</p>

<p>
  <strong>Otherincomelease:</strong>
  <%= @request.otherIncomeLease %>
</p>

<p>
  <strong>Otherincomeother:</strong>
  <%= @request.otherIncomeOther %>
</p>

<p>
  <strong>Otherincomeothertext:</strong>
  <%= @request.otherIncomeOtherText %>
</p>

<p>
  <strong>Otherincomeamount:</strong>
  <%= @request.otherIncomeAmount %>
</p>

<p>
  <strong>Expensealimony:</strong>
  <%= @request.expenseAlimony %>
</p>

<p>
  <strong>Expensealimonyamount:</strong>
  <%= @request.expenseAlimonyAmount %>
</p>

<p>
  <strong>Expensecredit:</strong>
  <%= @request.expenseCredit %>
</p>

<p>
  <strong>Estflat:</strong>
  <%= @request.estFlat %>
</p>

<p>
  <strong>Estflatpart:</strong>
  <%= @request.estFlatPart %>
</p>

<p>
  <strong>Estroom:</strong>
  <%= @request.estRoom %>
</p>

<p>
  <strong>Estroompart:</strong>
  <%= @request.estRoomPart %>
</p>

<p>
  <strong>Esthouse:</strong>
  <%= @request.estHouse %>
</p>

<p>
  <strong>Esthousepart:</strong>
  <%= @request.estHousePart %>
</p>

<p>
  <strong>Estother:</strong>
  <%= @request.estOther %>
</p>

<p>
  <strong>Estothertest:</strong>
  <%= @request.estOtherTest %>
</p>

<p>
  <strong>Estotherpart:</strong>
  <%= @request.estOtherPart %>
</p>

<p>
  <strong>Estregion:</strong>
  <%= @request.estRegion %>
</p>

<p>
  <strong>Estcity:</strong>
  <%= @request.estCity %>
</p>

<p>
  <strong>Estprice:</strong>
  <%= @request.estPrice %>
</p>

<p>
  <strong>Carmake:</strong>
  <%= @request.carMake %>
</p>

<p>
  <strong>Carmodel:</strong>
  <%= @request.carModel %>
</p>

<p>
  <strong>Caryear:</strong>
  <%= @request.carYear %>
</p>

<p>
  <strong>Carpledge:</strong>
  <%= @request.carPledge %>
</p>

<p>
  <strong>Carprice:</strong>
  <%= @request.carPrice %>
</p>

<p>
  <strong>Conviction:</strong>
  <%= @request.conviction %>
</p>

<p>
  <strong>Founder:</strong>
  <%= @request.founder %>
</p>

<p>
  <strong>Taxarrears:</strong>
  <%= @request.taxArrears %>
</p>

<p>
  <strong>Othercreditrequests:</strong>
  <%= @request.otherCreditRequests %>
</p>

<p>
  <strong>Bunkrupt:</strong>
  <%= @request.bunkrupt %>
</p>

<p>
  <strong>Waitforchild:</strong>
  <%= @request.waitForChild %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
