<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :otherText %><br>
    <%= f.text_field :otherText %>
  </div>
  <div class="field">
    <%= f.label :creditorName %><br>
    <%= f.text_field :creditorName %>
  </div>
  <div class="field">
    <%= f.label :sdate %><br>
    <%= f.datetime_select :sdate %>
  </div>
  <div class="field">
    <%= f.label :edate %><br>
    <%= f.datetime_select :edate %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :totalAmount %><br>
    <%= f.number_field :totalAmount %>
  </div>
  <div class="field">
    <%= f.label :monthAmount %><br>
    <%= f.number_field :monthAmount %>
  </div>
  <div class="field">
    <%= f.label :restAmount %><br>
    <%= f.number_field :restAmount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
