<table class="table">
    <tr>
      <td style="width:300px;vertical-align:top">Вид кредита</td>
      <td><div class='col-md-3'><label class="checkbox-inline"><%= f.radio_button :type, 1 %>Потребительский кредит</label></div>
          <div class='col-md-3'><label class="checkbox-inline"><%= f.radio_button :type, 2 %>Кредитная карта</label></div>
          <div class='col-md-2'><label class="checkbox-inline"><%= f.radio_button :type, 3 %>Ипотечный кредит</label></div>
          <div class='col-md-2'><label class="checkbox-inline"><%= f.radio_button :type, 4 %>Автокредит</label></div>
          <div class='col-md-2'><label class="checkbox-inline"><%= f.radio_button :type, 5 %>Микрокредит</label></div>
          <div class='col-md-2'><label class="checkbox-inline"><%= f.radio_button :type, 6 %>Иное</label></div>
          <div class='col-md-10'><%= f.text_field :otherText,  :class=>"form-control"%></div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">Наименование кредитора</td>
      <td><%= f.text_field :creditorName,  :class=>"form-control"%></td>
    </tr>  
    <tr>
      <td style="vertical-align:top">Срок кредита</td>
      <td><div class='col-md-1'>с<br><small>дд.мм.гггг</small></div>
        <div class='col-md-2'> <!-- Извращения с выбором даты, однако -->                
             <div class="form-group">
                <div class='input-group date datepicker' id='datetimepickercr1'>
                              <%= f.text_field(:sdate, :class => "form-control", :placeholder => "DD.MM.YYYY", ) %> 
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
            <!--это для нажатия по иконке -->
             <script type="text/javascript">
                 $(function () {
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                  $('#datetimepickercr1').datepicker();
                 });
              </script>
              <!--это для нажатия по полю ввода -->
              <script type="text/javascript">
                 $(document).ready(function(){
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                  $('.datepicker').datepicker({
                  });
                 });
              </script>
    <!-- Извращения с выбором даты, однако -->  
       </div>
       <div class='col-md-1'>по<br><small>дд.мм.гггг</small></div>
        <div class='col-md-2'> <!-- Извращения с выбором даты, однако -->                
             <div class="form-group">
                <div class='input-group date datepicker' id='datetimepickercr2'>
                              <%= f.text_field(:edate, :class => "form-control", :placeholder => "DD.MM.YYYY", ) %> 
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
            <!--это для нажатия по иконке -->
             <script type="text/javascript">
                 $(function () {
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                  $('#datetimepickercr2').datepicker();
                 });
              </script>
              <!--это для нажатия по полю ввода -->
              <script type="text/javascript">
                 $(document).ready(function(){
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                  $('.datepicker').datepicker({
                  });
                 });
              </script>
    <!-- Извращения с выбором даты, однако -->  
       </div>
      </td>
    </tr>  
    <tr>
      <td style="vertical-align:top">Валюта кредита</td>
      <td><div class='col-md-6'><%= f.text_field :currency,  :class=>"form-control"%></div>
          <div class='col-md-2'>Сумма кредита (в валюте кредита)</div>
          <div class='col-md-2'><%= f.number_field :totalAmount,  :class=>"form-control"%></div>
      </td>
    </tr>  
       <tr>
      <td style="vertical-align:top">Ежемесячный платеж (в валюте кредита)</td>
      <td><div class='col-md-5'><%= f.text_field :monthAmount,  :class=>"form-control"%></div>
          <div class='col-md-3'>Остаток задолженности (в валюте кредита)</div>
          <div class='col-md-2'><%= f.number_field :restAmount,  :class=>"form-control"%></div>
      </td>
    </tr>  
</table>      
