<div class="panel-group">
  <div class="panel panel-default" id="shortProductInfo">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">
        	<% if p.note.present? %> 
        		<%= p.name %>: <%= p.note %>
        	<% else %>
        		<%= p.name %>
        	<% end %>	
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse"   >
      <div class="panel-body">
<% if p.audience.present? %>
    <p><strong>Целевая аудитория:</strong> <%= p.audience %></p>
<% end %>
<% if p.target.present? %>
    <p><strong>Цель кредита (займа)</strong> <%= p.target %></p>
<% end %>
<% if p.months.present? %>
    <p><string>Срок кредита (займа)</string> <%= p.months %></p>
<% end %>
<% if p.sAmount.present? %>
    <p><strong>Сумма кредита (займа)</strong> <%= p.sAmount %></p>
<% end %>
<% if p.pledge.present? %>
    <p><strong>Залоговое обеспечение</strong> <%= p.pledge %></p>
<% end %>
<% if p.insurance.present? %>
    <p><strong>Страховое обеспечение</strong> <%= p.insurance %></p>
<% end %>
<ol>  
  <% p.insurances.each do |i| %>
    <li><%= i.name %></li>
  <% end %>
</ol>    
<% if p.cpCoeff.present? %>
    <p><strong>Коэффициент К/З (кредит/залог)</strong> <%= p.cpCoeff %></p>
<% end %>
<% if p.rule.present? %>
    <p><strong>Порядок предоставления кредита (займа)</strong> <%= p.rule %></p>
<% end %>    
<% if p.percent.present? %>
    <p><strong>Процентная ставка и порядок погашения кредита (займа)</strong> <%= p.percent %></p>
<% end %>
      </div>
    </div>
  </div>
</div>

