<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script type="text/javascript" language="javascript">
function callAddButton() {
  var vals= $('#frmAddOption').serialize();
  $.ajax({
        type: "GET",
        url: '/products/'+<%= @product.id %>+'/addOption/'+$('#option_id').val(), //sumbits it to the given url of the form
        data: vals,
        dataType: "script" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(script){
        console.log("success", script);
    });
      return false;
    };

</script>
  <div class="form-group row">
    <label class="col-md-2 form-control-label">Название продукта</label>
    <div class="col-md-5"><%= f.text_field :name,  :class=>"form-control" %></div>
    <% if !@product.new_record? %>
    <label class="checkbox-inline">
          <%= f.check_box :isArchive, :class=>"checkboxToggle", :data => { :toggle => 'toggle',:on=>"Да",:off=>"Нет" }   %>Архивный
        </label>
    <% end %>    
  </div>
  <div class="form-group row">
    <label class="col-md-2 form-control-label">Краткое описание</label>
          <div class="col-md-5"><%= f.text_area :note,  :class=>"form-control" %></div>
  </div>
  <div class="form-group row">
    <label class="col-md-1 form-control-label">Утвержден</label>
          <div class="col-md-3"><%= f.text_field :NPA,  :class=>"form-control" %></div>
    <label class="col-md-1 form-control-label" style="width:130px">Действует с:</label>
          <div class="col-md-2">
          <!-- Извращения с выбором даты, однако -->                
             <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                              <%= f.text_field :startdate, :class => "form-control datepicker", :placeholder => "DD.MM.YYYY", :value =>(@product.startdate.blank? ? '' : @product.startdate.strftime('%d.%m.%Y')) %> 
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <!--это для нажатия по иконке -->
             <script type="text/javascript">
                 $(function () {
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                     $('#datetimepicker1').datepicker();
                 });
              </script>
              <!--это для нажатия по полю ввода -->
              <script type="text/javascript">
                 $(document).ready(function(){
                  $.fn.datepicker.defaults.format = "dd.mm.yyyy";
                     $('.datepicker').datepicker();
                 });
              </script>
<!-- Извращения с выбором даты, однако -->   
          </div>
  </div>

  <table class="table-responsive table passport">
    <thead>
      <tr>
       <th>
         <div><b>Параметр</b></div>
       </th>
       <th>
         <div><b>Описание</b></div>
       </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div>Целевая аудитория</div></td>
        <td><div><%= f.text_area :audience, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Совместимость с ипотечными опциями</div></td>
        <td>
          <div id="optDiv">
            <%= render(:partial => 'optionList',:locals => {:p => @product}) %>
          </div>
          <%= form_tag('#', method: 'get', remote: true, id: 'frmAddOption') do %>
            <div class="col-md-8" id='listAvalOptions'>
              <%= collection_select(:option, :id,  @active_options, :id,:name, {},{:class => 'form-control optionSelect'}) %>
            </div>  
            <div class="col-md-2">
              <button id="btnAddOption" class="btn btn-primary" onclick="callAddButton();" type="button">Добавить</button>
            </div>
          <% end %>
        </td>
      </tr>  
      <tr>
        <td><div>Цель кредита (займа)</div></td>
        <td><div><%= f.text_area :target, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Срок кредита (займа)</div></td>
        <td><div><%= f.text_area :months, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Сумма кредита (займа)</div></td>
        <td><div><%= f.text_area :sAmount, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Залоговое обеспечение</div></td>
        <td><div><%= f.text_area :pledge, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Страховое обеспечение</div></td>
        <td>
          <div>
            <%= f.text_area :insurance, :class=>"form-control" %>
            <div id = "insListDiv">
              <%= render(:partial => 'insuranceList') %>
            </div>  
            <div class="col-md-8" >
              <%= collection_select(:inslist, :id,  Insurance.all, :id,:name, {},{:class => 'form-control optionSelect', :id => 'listInsurances'}) %>
            </div>  
            <div class="col-md-2">
              <button id="btnAddInusrance" class="btn btn-primary" onclick="addInsuranceToProduct();" type="button">Добавить</button>
            </div>
          </div>
        </td>
      </tr>  
      <tr>
        <td><div>Коэффициент К/З (кредит/залог)
</div></td>
        <td><div><%= f.text_area :cpCoeff, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Порядок предоставления кредита (займа)</div></td>
        <td><div><%= f.text_area :rule, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Процентная ставка и порядок погашения кредита (займа)</div></td>
        <td><div><%= f.text_area :percent, :class=>"form-control" %></div></td>
      </tr>  
      <tr>
        <td><div>Другие значимые характеристики или информация</div></td>
        <td><div><%= f.text_area :dopinfo, :class=>"form-control" %></div></td>
      </tr>  
    </tbody>  
  </table>

  

  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-primary"%>
  </div>
<% end %>
