<div class="the__content">
  <h1>Ипотечные продукты и опции <%= link_to new_product_path, class: "btn btn-default" do %><i class="glyphicon glyphicon-plus-sign"></i> Продукт<% end %>
  <%= link_to new_option_path, class: "btn btn-default" do %><i class="glyphicon glyphicon-plus-sign"></i> Опция<% end %></h1>

  <h2>Действующие</h2>
    <% @active_products.each do |product| %>
      <p><strong><%= link_to product.name, edit_product_path(product), method: :get %></strong></p>
      <% if product.note? %>
      	<ul><li><%= product.note %>
      	</li></ul>
      <% end %>	
    <% end %>
    <% @active_options.each do |option| %>
      <p><strong><%= link_to option.name, edit_option_path(option), method: :get %></strong></p>
      <% if option.note? %>
        <ul><li><%= option.note %>
        </li></ul>
      <% end %> 
    <% end %>
  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="transparentLink" data-toggle="collapse" href="#collapse1">Архив</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
	    <% @archive_products.each do |product| %>
    	  <p><strong><%= link_to product.name, edit_product_path(product) %></strong></p>
      		до <%= product.enddate.strftime('%d.%m.%Y') %>
    	<% end %>
      <% @archive_options.each do |option| %>
        <p><strong><%= link_to option.name, edit_option_path(option) %></strong></p>
          до <%= option.enddate.strftime('%d.%m.%Y') %>
      <% end %>
      </div>
    </div>
  </div>
</div>  
</div>